.contact-header {
  background: url("../../assets/img/bg-six.png") no-repeat center center / cover;
  padding: 195px 0;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    span.cat {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 10px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 5px 10px;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 8px;
    }
    h2 {
      max-width: 530px;
      padding: 13px 0;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      color: #ffffff;
      text-align: center;
    }
    p {
      font-size: 12px;
      line-height: 20px;
      color: #e5e5e5;
      max-width: 420px;
      text-align: center;
    }
    span.date {
      margin-top: 13px;
      display: inline-block;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      color: #ffffff;
    }
  }
}

.contact-main {
  padding: 100px 0;
  form {
    .form-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 420px) {
        flex-direction: column;
      }
      div {
        display: flex;
        flex-direction: column;
        width: 48%;
        @media screen and (max-width: 420px) {
          width: 100%;
        }
        & > input {
          width: 100%;
        }
      }
    }
    label {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #495057;
      padding-bottom: 10px;
    }
    input {
      display: inline-block;
      width: 100%;
      height: 40px;
      border: 1px solid #343a40;
      padding: 0 10px;
      margin-bottom: 30px;
      box-sizing: border-box;
    }
    textarea {
      width: 100% !important;
      height: 150px !important;
      border: 1px solid #343a40;
      padding: 10px;
      resize: none;
    }
    button {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 15px;
      line-height: 12px;
      color: #e5e5e5;
      background: #212529;
      border-radius: 4px;
      padding: 20px 30px;
      margin: 20px 0 0 auto;
      display: block;
      @media screen and (max-width: 420px) {
        width: 100%;
      }
    }
  }
  hr {
    width: 100%;
    height: 1px;
    background: #c4c4c4;
    margin: 50px 0;
  }
}
