.posts {
  padding-top: 150px;
  padding-bottom: 150px;
  h2 {
    font-family: "Lora";
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #495057;
    @media screen and (max-width: 660px) {
      text-align: center;
    }
  }
  .categories {
    margin: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 660px) {
      flex-direction: column;
      justify-content: center;
    }
    button {
      background: none;
      display: inline-block;
      margin-right: 20px;
      transition: all 0.2s ease-in-out;
      @media screen and (max-width: 660px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
      &[class^="category-active"] {
        color: #d4a373;
      }
      &:hover {
        cursor: pointer;
        color: #d4a373;
      }
    }
    a {
      margin-left: auto;
      @media screen and (max-width: 660px) {
        margin-left: 0;
      }
      button {
        margin-right: 0;
      }
    }
  }
  .posts_wrapper {
    display: flex;
    flex-wrap: wrap;
    & > a {
      margin: 25px 20px 25px 0;
    }
    & > a:nth-child(4n) {
      margin-right: 0;
      @media screen and (max-width: 1340px) {
        margin-right: 20px;
      }
    }
    @media screen and (max-width: 1380px) {
      justify-content: space-evenly;
    }
  }
}
