.footer {
  .main-footer {
    background: #212529;
    color: #e5e5e5;
    padding: 110px 0;
    div {
      display: flex;
      align-items: start;
      justify-content: space-between;
      @media screen and (max-width: 860px) {
        // flex-direction: column;
        // max-width: 200px;
        // margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      margin: 20px;
      @media screen and (max-width: 860px) {
      }
      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
      }
      li {
        display: inline-block;
        margin-top: 15px;
        font-size: 12px;
        color: #e5e5e5;
        &.address {
          max-width: 115px;
          line-height: 20px;
        }
      }
    }
  }
  .sec-footer {
    background: #343a40;
    color: #e5e5e5;
    padding: 30px 0;
    div {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    h4 {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: #e5e5e5;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #e5e5e5;
    }
  }
}
