.wrapper {
  display: flex;
  align-items: center;
  li {
    &:not(:last-child) {
      margin-right: 18px;
    }
    svg {
      width: 16px;
      height: 16px;
      transition: all 0.2s ease-in-out;
      &:hover {
        fill: #fff;
        cursor: pointer;
      }
    }
  }
}
